.mainDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    position: relative;
    bottom: 0;
}

.pg {
    position: absolute;
    bottom: 0;
    height: 8%;
    max-width: fit-content;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    /* margin: 0 auto; */
    justify-content: center;
    /* align-items: center; */
    max-width: fit-content;
    flex-wrap: wrap;
}

.pageItem {
    margin: 5px;
    margin-bottom: 12px;
    transition: transform 50ms ease;
}

.pageItem:hover {
    transform: scale(1.1);
}

.pageLink {
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgb(25, 118, 210);
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 16px 13px 33px -11px rgba(105, 101, 105, 1);
    -moz-box-shadow: 16px 13px 33px -11px rgba(105, 101, 105, 1);
    box-shadow: 16px 13px 33px -11px rgba(105, 101, 105, 1);
}

.pageLink:hover {
    background-color: #f69393;
}

/* @media screen and (max-width: 1000px) {
    .pg {
        position: absolute;
        bottom: 0;
        height: 8%;
        max-width: fit-content;
    }

} */


@media screen and (max-width: 400px) {
    .pg {
        position: absolute;
        bottom: 0;
        height: 8%;
        max-width: fit-content;
    }

}