/* LandingPage.css */

.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/cute-dogs-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

.mainH1 {
    font-size: 36px;
    color: #ffffff;
    /* Light Brown */
}

.homeButton {
    margin-top: 20px;
}

.homeButton button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

button:hover {
    background-color: #e07a5f;
    /* Darker shade of brown on hover */
}